<%= turbo_frame_tag("sidebar") do %>
  <%= link_to 'Back', mountain_trails_path(@trail.mountain) %>
  <h1><%= @trail.name %></h1>
  <p><%= @trail.difficulty %></p>
  <p><%= @trail.category %></p>

  <!-- Start reviews list -->
  <ul>
    <% @reviews.each do |review| %>
      <li><%= review['comment'] %></li>
    <% end %>
  </ul>
  <!-- End reviews list -->

  <p>Add a review</p>
  <!-- Start Review form -->
  <% if user_signed_in? %>
    <!-- Start if user is signed up -->
    <%= simple_form_for [@trail, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
    <!-- End if user is signed up -->
  <% else %>
    <!-- Start if user is not signed up -->
    <div>
      <p>Sign up to leave a review</p>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
    </div>
    <!-- End if user is not signed up -->
  <% end %>
  <!-- End Review form -->
<% end %>
