<%= turbo_frame_tag("photo-popup") do %>
  <%= simple_form_for(@photo) do |f| %>
    <div data-controller="photo-preview">
      <img class="js-image-preview" src="#" alt="your image" data-photo-preview-target="photoPreview"/>
      <%= f.hidden_field :latitude, required: true %>
      <%= f.hidden_field :longitude, required: true %>
      <%= f.hidden_field :trail_id, value: @trail_id, required: true %>
      <%= f.input :image, as: :file, class: "js-image-upload", :input_html => { :data => {'photo-preview-target': "photoInput", action: "change->photo-preview#showPhotoPreview"} } %>
      <%= f.button :submit, "Upload", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
