<%= turbo_frame_tag("photo-popup") do %>
  <div class="popup">
    <%= cl_image_tag(@photo.image.key, width: 500, crop:"fill", class: "popup-image") %>
    <div class="profile">
      <div id="popup-avatar" style="background-image: url('<%= @photo.user.avatar_path %>');"></div>
    </div>
    <div class="content">
      <h2 class="me-2"><%= @photo.user.nickname %></h2>
      <p class="text-end w-100"><%= @photo.photo_published_time %><p>
    </div>
  </div>
<% end %>
