<!DOCTYPE html>
<html>
  <head>
    <title>MountainMaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="preloader" class="preloader active">
      <div style="position: relative">
        <div class="cover"></div>
        <%= image_tag "loading-image.png", class: 'loader-mountain-image loading-image' %>
      </div>
    </div>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div id="map" data-mapbox-access-token="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>">
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fas fa-times icon-close"></i></i></button>
      </div>
      <div class="offcanvas-body">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
